<p>Últimos concursos</p>
<table class="table table-sm table-striped">
    <thead>
        <th scope="col">Concurso</th>
        <th scope="col">Data do sorteio</th>
        <th scope="col">Dezenas</th>
    </thead>
    <tbody>
        <tr *ngFor="let concurso of concursos">
            <td>{{concurso.numero}}</td>
            <td>{{concurso.dataSorteio}}</td>
            <td>
                <div mgsnDarkenOnHover>
                    <mgsn-dezenas-list [dezenas]='concurso.dezenas'></mgsn-dezenas-list>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <button 
                    [routerLink]="['concurso','lista']"
                    type="button" 
                    class="btn btn-primary">
                    Carregar mais
                </button>
            </td>
        </tr>
    </tbody>
</table>